html,
body {
    /* margin: 0;
    padding: 0; */
    font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 去掉滚动条 */
    /* 需要隐藏外层滚动条一使产生视差生效 */
    overflow: hidden;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    /* 通过 比父容器的宽度小 或者使用margin-right为负值就可以了 */
    margin-right: -1em;

    /* 开启3d空间 树枝越小  3d效果越大 */
    perspective: 1px;
    /* 在3d空间进行transform */
    transform-style: preserve-3d;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;

    transform-style: inherit;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1em 4em;
    font-size: 3em;
}

header::before {
    content: "";
    display: block;
    background-image: url(./fkQ5-33d2ZdT3cSp0-go.jpg);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* background-attachment: fixed; */

    /* 核心 按Z轴向远处移动1px  大小会缩小1倍  使用scale放大到原图大小 */
    /* 于上方对比 复杂的可以改善用户体验  效果一样 */
    transform: translateZ(-1px) scale(2);
}

main {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #222f3e;
}

article {
    width: 90vw;
    max-width: 960px;
    padding: 6em 0;
    color: #fff;
    font-size: 18px;
    /* justify不常用 他是 实现两端对齐 */
    text-align: justify;
    /* 这个自己不常用  字母的间距 */
    letter-spacing: 0.075em;
    /* 文本块首行缩进 */
    text-indent: 2em;
    line-height: 1.5em;
}

/* 适配 */
@media screen and (max-width:1024px) {
    header h1 {
        font-size: 2.5em;
        padding: 1em 1.5em;
    }
}

@media screen and (max-width:600px) {
    header h1 {
        font-size: 1.5em;
        padding: 1em 1em;
    }

    article {
        font-size: 1em;
    }
}

/* 

两种不同实现方法，background-attachment仅限于背景，CSS3d视差所有元素适用，不仅只限于背景。按照CSS逐年淘汰单一功能的节奏，CSS3d的多元素适配属性更符合趋势而已，而且设计精度更高，可调整视差呈现效果。你的一行代码可能会带来啥？一个前端设计师的暂时轻松，无限用户的体验感下降。CSS3d多行代码实现能带来啥？一个前端设计师稍多一点的时间花费，无限用户更好的使用体验。


*/