html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* 控制开始状态 因为有过度所以样式移除一直的效果取消 */
body.is-loading *, body.is-loading *:before, body.is-loading *:after{
    
    animation: none !important;
    
    transition: none !important;
    
    transition-delay: none !important;
}

html {
    -webkit-text-size-adjust: none;
}

/* 留一个坑 */
#main {
    display: none;
}

#bg {
    transform: scale(1);
    /* 先就不写兼容代码 */
    /* -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1); */
    -webkit-backface-visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;

}

#bg::before,
#bg::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* 之前 */
#bg::before {
    /* 控制开始加载的bgc */
    transition: background-color 2.5s ease-in-out;

    /* 这里加上了一个带点透明的图片使背景更有质感 有股淡淡的磨砂质感 */
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("./static/overlay.png");

    transition-delay: 0.75s;

    background-size: auto, 256px 256px;
    background-position: center, center;
    background-repeat: no-repeat, repeat;
    z-index: 2;
}

/* 之后 */
#bg::after {
    transform: scale(1.125);
    background-image: url(./static/IMG_20200613_074218.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.325s ease-in-out,filter 0.325s ease-in-out;

    z-index: 1;
}

/* 加载时候添加的效果上面控制transform效果 这里需要js控制 */
body.is-article-visible #bg::after{
    transform: scale(1.0825);
    filter: blur(0.2rem);
}

body.is-loading #bg:before {
    background-color: #000000;
}



/* 坑 */
#footer {
    display: none;
}